#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #f8f9fa;
    padding: 15px;
}

#sidebar .nav-link {
    color: #333;
}

#content {
    padding: 20px;
}

.table th {
    white-space: nowrap; /* 줄바꿈 방지 */
    overflow: hidden;
    text-overflow: ellipsis; /* 넘치는 텍스트는 ...으로 표시 */
}