<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moim-Today</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f1f3f5; margin: 0; padding: 32px 0; text-align: center;">

<div style="width: 100%; background-color: #f1f3f5; padding: 32px 0;">
    <div style="max-width: 600px; width: 100%; background-color: #ffffff; padding: 0 20px; margin: auto; border-radius: 8px; border: 1px solid #FFC0CB; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div style="padding: 20px 0; border-bottom: 1px solid #f1f3f5;">
            <table width="100%">
                <tr>
                    <!-- <td width="100"><img width="100" height="19" src="your-logo-url-here.png"></td> -->
                    <td width="460" style="text-align:right">
                        <!-- <img src="your-slogan-url-here.png" height="19" style="vertical-align:bottom"> -->
                    </td>
                </tr>
            </table>
        </div>

        <div style="font-size: 55px; color: #FF2400; font-weight: bold; font-family: 'Praise', cursive; margin-bottom: 20px;">
            Moim-Today
        </div>

        <div style="font-size: 20px; color: #000;">
            <span th:text="${certificationMessage}"></span>
        </div>

        <div style="padding: 32px 0; text-align: center; color: #868e96; font-size: 12px; line-height: 1.38; letter-spacing: -0.3px;">
            모임의 혁신 Moim-Today<br>
        </div>
    </div>
</div>

</body>
</html>
